<header>
  <div class="site-title">
    <a href="{{ '/' | url }}">Tony Folenta</a><br />
    Design Systems Manager<br />
    Chicago
  </div>
  <nav>
    {% set navPages = collections.all | eleventyNavigation %}
    <ul>
    {%- for entry in navPages %}
      <li>
        <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
      </li>
    {%- endfor %}
    </ul>
  </nav>
</header>